<a href="https://colab.research.google.com/github/alexcarvajal/ModeloPrediccionBRT/blob/main/LimpiezaDataset1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import holidays

url1 = '/content/drive/MyDrive/Trabajo de Grado/salidas20230809Eng.csv'
data1 = pd.read_csv(url1)
data1

# Dropping the 'Operador' and 'Linea' columns
data1_dropped = data1.drop(columns=['Operator', 'Line', 'archive'])
filtered_data0 = data1_dropped[(data1_dropped['Inputs'] == 0) & (data1_dropped['Outputs'] == 0)]
filtered_data0
filtered_data = data1_dropped[(data1_dropped['Inputs'] != 0) | (data1_dropped['Outputs'] != 0)]
filtered_data

#Filtrar las filas que tienen un valor en la columna 'Tiempo' mayor a '03:45:00'
filtered_time_data = filtered_data[filtered_data['Time'] >= '03:45:00']
# Mostrar las primeras filas del DataFrame filtrado por tiempo
unique = len(filtered_time_data['Station'].unique())

#filtered_time_data.to_csv('salidas20230809EngOPLiArc0FilasTiempo345.csv')

# Agrupar por la columna 'Estacion' y sumar los valores de 'Entradas_E'
top_estaciones = filtered_time_data.groupby('Station')['Inputs'].sum()

estaciones_seleccionadas = ['(02000)Cabecera Autopista Norte', '(02300)Calle 100','(03000)Portal Suba', '(04000)Cabecera Calle 80','(05000)Portal Américas', '(06000)Portal Eldorado','(07000)Portal Sur','(08000)Portal Tunal','(09000)Cabecera Usme','(10000)Portal 20 de Julio']
#top_10_estaciones = top_estaciones.sort_values(ascending=False).head(10)
#top_10_estaciones

# Filtrar el dataset para incluir solo las 10 estaciones con la mayor cantidad de entradas
filtered_top_10_estaciones_data =filtered_time_data[filtered_time_data['Station'].isin(estaciones_seleccionadas)].copy()
filtered_top_10_estaciones_data


# Mostrar las primeras filas del nuevo DataFrame filtrado
#filtered_top_10_estaciones_data.to_csv('salidas20230809EngOPLiArc0FilasTiempo34510estaciones.csv')
filtered_top_10_estaciones_data
# Convirtiendo la columna 'Fecha_Transaccion' a tipo de dato de fecha
filtered_top_10_estaciones_data['Transaction_date'] = pd.to_datetime(filtered_top_10_estaciones_data['Transaction_date'])
# Crear la columna 'Dia_Semana'
filtered_top_10_estaciones_data['Day_Week_Number'] = filtered_top_10_estaciones_data['Transaction_date'].dt.dayofweek + 1

# Dias festivos

co_holidays = holidays.Colombia(years=[2023])
filtered_top_10_estaciones_data['Holidays'] = filtered_top_10_estaciones_data['Transaction_date'].apply(lambda x: x in co_holidays)

filtered_top_10_estaciones_data['Holidays'] = filtered_top_10_estaciones_data['Holidays'].astype(float)

filtered_top_10_estaciones_data['Transaction_date'] = pd.to_datetime(filtered_top_10_estaciones_data['Transaction_date'])


# Creando las nuevas columnas para año, mes y día
filtered_top_10_estaciones_data['Year'] = filtered_top_10_estaciones_data['Transaction_date'].dt.year
filtered_top_10_estaciones_data['Month'] = filtered_top_10_estaciones_data['Transaction_date'].dt.month
filtered_top_10_estaciones_data['Day'] = filtered_top_10_estaciones_data['Transaction_date'].dt.day

# Eliminando la columna original 'Fecha_Transaccion'
filtered_top_10_estaciones_data.drop('Transaction_date', axis=1,inplace=True)
filtered_top_10_estaciones_data

# Asegurándose de que 'Tiempo' sea un tipo de dato de hora
filtered_top_10_estaciones_data['Time'] = pd.to_datetime(filtered_top_10_estaciones_data['Time'], format='%H:%M:%S').dt.time

# Creando nuevas columnas para hora, minuto y segundo
filtered_top_10_estaciones_data['Hour'] = filtered_top_10_estaciones_data['Time'].apply(lambda x: x.hour)
filtered_top_10_estaciones_data['Minute'] = filtered_top_10_estaciones_data['Time'].apply(lambda x: x.minute)
filtered_top_10_estaciones_data['Second'] = filtered_top_10_estaciones_data['Time'].apply(lambda x: x.second)

# Eliminando la columna original 'Tiempo'
filtered_top_10_estaciones_data.drop(['Time','Second','Year'], axis=1,inplace=True)
# Mostrar las primeras filas del DataFrame modificado
filtered_top_10_estaciones_data

#ordered_columns = ['Month', 'Day', 'Hour', 'Minute', 'Station',
 #                  'Station_Access', 'Device', 'Inputs', 'Outputs']
ordered_columns = ['Month', 'Day', 'Day_Week_Number', 'Holidays', 'Hour', 'Minute', 'Station', 'Station_Access', 'Device', 'Inputs', 'Outputs']
data_reorganized = filtered_top_10_estaciones_data[ordered_columns].copy()

#data_reorganized.to_csv('construccion.csv')
data_reorganized['Inputs'].sum()
# Supongamos que quieres eliminar filas donde la columna 'ColumnaConCeros' tiene valores 0
data1_filtrado = data_reorganized.loc[data_reorganized['Inputs'] != 0]
data_reorganized.info()
data1_filtrado.info()
data_reorganized

unicos= data_reorganized['Station'].unique()
print(unicos)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23553 entries, 8671 to 106185
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Month            23553 non-null  int64
 1   Day              23553 non-null  int64
 2   Day_Week_Number  23553 non-null  int64
 3   Holidays         23553 non-null  float64
 4   Hour             23553 non-null  int64
 5   Minute           23553 non-null  int64
 6   Station          23553 non-null  object
 7   Station_Access   23553 non-null  object
 8   Device           23553 non-null  int64
 9   Inputs           23553 non-null  int64
 10  Outputs          23553 non-null  int64
dtypes: float64(1), int64(8), object(2)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18362 entries, 8700 to 106172
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Month            18362 non-null  int64
 1   Day              18362 non-null  int64
 2   Day_Week_Number  18362 non-null  int64
 3   Holidays         18362 non-null  float64
 4   Hour             18362 non-null  int64
 5   Minute           18362 non-null  int64
 6   Station          18362 non-null  object
 7   Station_Access   18362 non-null  object
 8   Device           18362 non-null  int64
 9   Inputs           18362 non-null  int64
 10  Outputs          18362 non-null  int64
dtypes: float64(1), int64(8), object(2)
memory usage: 1.7+ MB
['(09000)Cabecera Usme' '(07000)Portal Sur' '(08000)Portal Tunal'
 '(10000)Portal 20 de Julio' '(06000)Portal Eldorado'
 '(05000)Portal Américas' '(03000)Portal Suba'
 '(02000)Cabecera Autopista Norte' '(04000)Cabecera Calle 80'
 '(02300)Calle 100']